.pio/
.vscode/
*.code-workspace
.DS_Store
*.env
.env.*
secrets.*
secret*.json
secret*.txt
wifi_*.json
wifi_*.txt
credentials.*
*.pem
*.key
*.crt
*.p12
*.cer
*.der
*.bak
*.swp
*.swo
*.orig
node_modules/
dist/
build/
/.idea/
